@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin change-direction {
  padding: 0 32px;
  @media (max-width: 1279px) {
    flex-direction: column;
    gap: 24px;
  }
}

@mixin gaps {
  gap: 24px;
  @media (max-width: 1279px) {
    gap: 20px;
  }
  @media (max-width: 719px) {
    gap: 16px;
  }
}
